
.title {
  display: flex;
  justify-content: center;
  color: #ee716c;
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 300;
}

.content {
  display: flex;
  justify-content: center;
}

label {
  margin-left: 10px;
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
}

input {
  width: 110%;
  height: 60px;
  border-radius: 8px;
  border-color: #b3b7b6;
  border-style: solid;
  font-family: 'Atlas Grotesque', sans-serif;
  font-weight: 500;
  font-size: large;
  padding-left: 8px;
}

.engineers {
  background-color: #f3f3f3;
}

.orange-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  flex-basis: 19%;
  width: 110%;
}

button {
  color: white;
  background-color: #ec5d57;
  width: 130px;
  height: 50px;
  border-style: none;
  border-radius: 50px;
  font-size: large;
}

.labels {
  margin-top: 15px;
}

.engineers::placeholder {
  color: black;
}
