.purple-button {
  background-color: #4a4ae9;
  color: white;
  width: 160px;
  height: 50px;
  border-style: none;
  font-size: larger;
  border-radius: 5px;
}

.modal {
  text-align: center;
  background-color: white;
  width: 30%;
  height: 25%;
  border-radius: 5px;
  margin: auto;
}

.orange-button {
  color: white;
  background-color: #eb5d5d;
  width: 93px;
  height: 43px;
  font-size: larger;
  border-radius: 5px;
  border-style: none;
  margin-top: 30px;
}

h1 {
  font-family: sans-serif;
}

.hidden {
  position: absolute;
  left: 400%;
}

.black {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.survey-text {
  padding-top: 30px;
}
